<!DOCTYPE html>
<html>
  <head>
    <title>Cancan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header">
      <ul>
      <% if logged_in? %>
      <h5>Welcome <%= current_user.name %></h5>
        <button class="button"><%= link_to "Log Out", session_path(current_user), method: :delete %></button>
        <button class="button"><%= link_to "Create A Post", new_post_path %></button>
      <% else %>
        <button class="button"><%= link_to "Sign in", new_session_path %></button>
        <button class="button"><%= link_to "Create Account", new_user_path %></button>
      <% end %>
      <button class="button"><%= link_to "Home", root_path %></button>
    </nav>
    <%= yield %>
  </body>
</html>
